{% extends 'base.html' %}
{% load static %}

{% block page_title %}
Testing
{% endblock %}

{% block header_refrences %}
<link rel="stylesheet" href="{% static "ali/c.css" %}">
{% endblock %}

{% block content %}

{% include 'ali/includes/header.html' with omid="omidzb" %}

<h1>
    hello world </br>
    {{ data }}  </br>
    {{ text|title }}
</h1>
<h2>
    <ul>
        {% for i in data%}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
</br> <a href="{% url 'ali:dynamic' 1 %}"> click here! </a>
</h2>
<p>
    {% if data is None %}
        سلام بر تو عزیز
    {% else %}
        درود بر تو عزیز
    {% endif %}
</p>
{% endblock %}